body {
    margin: 0;
  }

  header, footer {
    background-color: #FEF7ED;
    padding: 1em 0;
    color: #572929;
  }
  
  .header-flex, .footer-flex {
    display: flex;
    justify-content: center;
    align-items :center;
    flex-wrap: wrap;
  }
  
  .header-menu, .footer-menu {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 1em;
    padding: 0;
    margin: 0;
  }
  
  .header-menu a, .footer-menu a {
    text-decoration: none;
    color: #572929;
    font-weight: bold;
  }
  
  .logo, .logo-footer {
    height: 100px;
    margin: 0 1em;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .footer-text, .logo-text {
    margin: 0 1em;
    font-size: 0.9em;
    color: #666;
  }
  .header-menu a:hover, .footer-menu a:hover {
    text-decoration: underline;
  }
    
  