body {
  margin: 0; /* Fjerner default kant. */
}

header {
  background-color: #FEF7ED; /* Samme lyse farve som resten. */
  padding-top: 60px; /* Lidt luft over menuen. */
  padding-bottom: 10px;
  color: #572929; /* Den mørke vinrøde – gennemgående farve. */
  position: sticky;
  top: 0;
  z-index: 100; /* Ligger sig øverst. */
}

.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; /* Alt centreres pænt. */
}

.header-menu {
  list-style: none; /* Fjerner prikker. */
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu li:nth-child(3) {
  margin-right: 130px; /* Plads til logo. */
}

.logo {
  height: 115px;
  position: absolute;
  bottom: -35px; /* Giver den der overlappende effekt. */
  left: 50%;
  transform: translateX(-100%);
  margin: 0 3em;
}

footer {
  background-color: #FEF7ED;
  padding-top: 14px;
  padding-bottom: 10px;
  color: #572929;
  position: sticky;
  top: 0;
  z-index: 100;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px; /* Fin luft mellem kolonner. */
  text-align: center;
}

@font-face {
  font-family: gistesy;
  src: url(fonts/Gistesy.ttf) format('truetype'); /* Font til logo/tekst. */
}

.logo-text {
  font-family: gistesy, sans-serif;
  font-size: 22px;
  font-weight: lighter;
  color: #000000;
}

.burger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100; /* Skal ligge øverst. */
}

@media (max-width: 768px) {
  .burger {
    display: block; /* Vises kun på mobil. */
  }

  .header-menu {
    display: none;
    flex-direction: column;
    background-color: #FEF7ED;
    padding: 10px;
    width: 100%;
  }

  #menu-toggle:checked + .header-flex .header-menu {
    display: flex; /* Viser menuen når der trykkes. */
  }

  .logo {
    height: 100px;
    position: absolute;
    top: -55px; /* Tilpasset mobil. */
  }

  .footer-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Fjerner margin på mobil-menu */
  .header-menu li:nth-child(1),
  .header-menu li:nth-child(2),
  .header-menu li:nth-child(3),
  .header-menu li:nth-child(5),
  .header-menu li:nth-child(6),
  .header-menu li:nth-child(7) {
    margin-left: 0;
    margin-right: 0;
  }
}
